// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.flex-container {
    display: flex;
}

.sidebar-container {
    width: 20%;
}

.content-container {
    width: 80%;
    margin: auto;
}
